/* 
refer from 
- https://devinlife.com/
- https://github.com/allejo/jekyll-toc
*/

.sidebar__right {
    display: block;
    position: sticky;
    top: 0;
    right: 0;
    width: 200px;
    margin-right: -200px;
    /* padding-left: 1em; */
    z-index: 10;
    clear: both;
    position: -webkit-sticky;
    top: 2em;
    float: right;
  }
  
.toc {
  background-color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  width: 100%;
  font-size: .75em;
  ul {
    margin: 0;
    padding: 4px;
    list-style: none;
  }
  li {
    padding: 0px 10px;
  }
}